body {
  font-family: sans-serif;
  margin: 0;
  background-color: gainsboro;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

img {
  cursor: pointer;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: papayawhip;
  box-shadow: 0 0px 5px 0 gray;
  align-items: center;
  padding: 0 50px;
  z-index: 999;
  width: 93%;
  top: 0;
}

.logo-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 30%;
  justify-content: space-between;
}

.logo {
  width: 50px;
}

.navlink {
  display: flex;
  gap: 20px;
  width: 100%;
}

a {
  font-size: medium;
  text-decoration: none;
  color: black;
}

.hamburger {
  display: none;
  width: 50px;
}

button {
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0px 2px 0 gray;
}

button:hover {
  background-color: white;
  color: black;
}

.dropdown {
  position: sticky;
  z-index: 9999;
  overflow: hidden;
  display: none;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
  top: 60px;
  background-color: goldenrod;
}

.dropdown a {
  font-size: large;
  padding: 10px 0;
  cursor: pointer;
}

.dropdown a h6 {
  font-size: medium;
  background-color: black;
  color: white;
  padding: 10px 0;
  width: 150px;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 1px 1px 0 gray;
}

@media (max-width: 768px) {
  .logo {
    scale: 100%;
  }

  nav {
    width: screen;
  }

  button {
    display: none;
  }

  .navlink {
    display: none;
  }

  .hamburger {
    display: block;
    scale: 50%;
  }

  .dropdown {
    display: flex;
  }
}
