body {
  background-color: gainsboro;
  font-family: sans-serif;
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

img {
  cursor: pointer;
}

p {
  font-size: x-large;
}

a {
  font-size: medium;
  text-decoration: none;
  color: black;
}

button {
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 2px 0 gray;
}

button:hover {
  background-color: white;
  color: black;
  transition: 0.1s;
}

.container {
  justify-content: center;
  padding: 90px 0;
  display: flex;
  width: 60%;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 50px 70px;
  gap: 50px;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* width: 550px; */
  /* height: 1100px; */
  border-radius: 10px;
  box-shadow: 0px 20px 30px 1px gray;
}

.descriptions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-cv {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-cv img {
  width: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.icons img {
  width: 40px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.profile img {
  width: 300px;
}

.name-title {
  border-radius: 12px;
  width: 300px;
  overflow: hidden;
  border: gray;
  box-shadow: 0 0 150px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .container {
    /* scale: 80%; */
    width: 90%;
    padding: 130px 0;
    margin-top: -80px;
  }

  .card {
    /* width: %; */
    padding: 20px 30px;
  }

  h1 {
    font-size: medium;
  }

  p {
    font-size: x-small;
  }

  .contact-cv {
    gap: 15px;
  }

  .contact-cv a {
    font-size: x-small;
  }

  .contact-cv a button {
    display: flex;
    font-size: xx-small;
    justify-content: center;
    line-height: 5px;
    width: 70px;
  }

  .contact-cv img {
    width: 12px;
  }

  .icons {
    margin-top: 10px;
  }

  .icons img {
    width: 20px;
  }

  .name-title {
    width: 90%;
  }

  .profile img {
    width: 100%;
  }

  .name-title {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: -20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
