body {
  background-color: gainsboro;
}

section {
  display: grid;
  gap: 20px;
  padding: 100px 0;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.square {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: black;
  box-shadow: 0 1px 10px 0 red;
  padding: 5px 15px;
  line-height: 0;
  height: 100%;
  color: white;
}

.square:active {
  transform: scale(0.9);
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 gray;
  width: 300px;
  display: grid;
  padding: 20px;
}

.image {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 190px;
}

.comments {
  display: flex;
  flex-direction: column;
  font-size: medium;
  justify-content: space-between;
}

h2 {
  font-size: medium;
}

h3 {
  font-size: large;
  text-align: center;
}

h4 {
  text-align: end;
  line-height: 0;
}

h5 {
  margin-bottom: auto;
  text-align: end;
}

@media (max-width: 768px) {
  section {
    width: 100%;
    padding: 50px 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    text-align: center;
    width: 100%;
    gap: 10px;
  }

  .rating {
    gap: 10px;
  }

  .square {
    font-size: x-small;
    padding: 3px 8px;
  }

  .card {
    width: auto;
    padding: 10px;
  }

  .image {
    height: 70px;
  }

  h1 {
    font-size: large;
  }

  h2 {
    font-size: medium;
  }

  h3 {
    font-size: large;
    text-align: center;
    grid-column: span 2 / span 2;
  }

  p {
    font-size: x-small;
  }

  h4 {
    font-size: xx-small;
  }

  h5 {
    font-size: x-small;
  }
}
